<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.topriddy.seamphiex.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/ify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.topriddy.seamphiex.signin.SignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signIn</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignOutServlet</servlet-name>
		<servlet-class>com.topriddy.seamphiex.signin.SignOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignOutServlet</servlet-name>
		<url-pattern>/signOut</url-pattern>
	</servlet-mapping>
	
	<listener>
  	<listener-class>
  		com.topriddy.seamphiex.ApplicationContext
  	</listener-class>
  </listener>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
    <description>Missing login</description>
    <error-code>401</error-code>
    <location>/general-error.html</location>
</error-page>
<error-page>
    <description>Forbidden directory listing</description>
    <error-code>403</error-code>
    <location>/general-error.html</location>
</error-page>
<error-page>
    <description>Uncaught exception</description>
    <error-code>500</error-code>
    <location>/general-error.html</location>
</error-page>
<error-page>
    <description>Unsupported servlet method</description>
    <error-code>503</error-code>
    <location>/general-error.html</location>
</error-page>
</web-app>
